
  
                <!---- --usamos enlace de 2 vias*/ -->
                <!-- <button type= "button" class="btn btn-success btn lg"> {{'Add'| translate}}</button> -->

        <!-- <h5 *ngIf= "listProject.length==0"> {{'NotProjectToShare' | translate}}</h5> -->
        <div class="row">
          <div class="col-lg-4">
            <p> <strong> <h1>{{'ProjectList' | translate}}</h1></strong> </p>
          </div>
          <div class="col-lg-8" style="text-align: right;">
            <!-- routerLink="/add" -->
            <button mat-raised-button color="warn" routerLink="/add">{{'Add' | translate}}</button>
          </div>
        </div>
        
        <mat-form-field>
          <mat-label>Search</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="search" >
          <!-- <input matInput  [(ngModel)]="valor1" type="search" placeholder="buscar"> -->
        </mat-form-field>

        <app-loading *ngIf="loading"></app-loading>
        <table class="table table-bordered table-light">
            <thead class="thead-dark" >
              <tr>
                <th scope="col">Name</th>
                <th scope="col">endDate</th>
                <th scope="col">startDate</th>
                <th scope="col">Location</th>
                <th scope= "col">Edit</th>
              </tr>
            </thead>
            <tbody *ngFor="let project of listProject; let i = index">
              <tr>
               
                <td>{{project.name}}</td>
                <td>{{project.endDate}}</td>
                <td>{{project.startDate}}</td>
                <td>{{project.location.name}}</td>
                <td>
                  <a class="pointer" routerLink="edit/{{ i }}" style="color: #1878B0;">
                    <mat-icon >edit</mat-icon>
                  </a>
                  <a (click)=deleteProject(i)  class="pointer" style="color: #E15639;">
                    <mat-icon>delete</mat-icon>
                  </a>
                </td>

              </tr>
              
            </tbody>
          </table>
          
          
    
