
h2{
  color: antiquewhite;
  background-color: rgba(0, 0, 0, 0.14);
  }
button:focus{
  outline: none;
}
.form-group{
  color: rgb(204, 126, 23);
  
}
table{
  width: 100%;
}

th{
  color:ghostwhite;
  background-color:#343a40;
  border-color: #454d55; 
  text-align: center;
  font-weight: bold;
}
  
.mat-form-field{
  color:whitesmoke;
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
  color: whitesmoke !important;
}
.filterInput{
  color: whitesmoke !important;
  border-color: whitesmoke !important;

}