
  
                <!---- --usamos enlace de 2 vias*/ -->
                <!-- <button type= "button" class="btn btn-success btn lg"> {{'Add'| translate}}</button> -->

        <!-- <h5 *ngIf= "listProject.length==0"> {{'NotProjectToShare' | translate}}</h5> -->
        <app-loading *ngIf="loading"></app-loading>
        <table class="table table-bordered table-dark">
            <thead class="thead-dark" >
              <tr>
                <th scope="col">Name</th>
                <th scope="col">endDate</th>
                <th scope="col">startDate</th>
                <th scope="col">Location</th>
              </tr>
            </thead>
            <tbody *ngFor="let project of listProject; let i = index">
              <tr>
               
                <td>{{project.name}}</td>
                <td>{{project.endDate}}</td>
                <td>{{project.startDate}}</td>
                <td>{{project.location.name}}</td>

              </tr>
              
            </tbody>
          </table>
          
          
    
