<div class="container app">
    <mat-form-field appearance="outline">
        <mat-label  style="color: whitesmoke;">Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input class="filterInput" style="color: whitesmoke;">
        <mat-icon matSuffix  style="color: whitesmoke;">search</mat-icon>
        
    </mat-form-field>

    <div class="mat-elevation-z8">
        <table mat-table class="mat-elevation-z8" [dataSource]="dataSource" class="responsive-table" style="width: 100%;">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> {{'Name'|translate}} </th>
            <td mat-cell *matCellDef="let location"> {{location.name}} </td>
        </ng-container>
        <ng-container matColumnDef="province">
            <th mat-header-cell *matHeaderCellDef> {{'Province'|translate}} </th>
            <td mat-cell *matCellDef="let location"> {{location.province }} </td>
        </ng-container>

        <ng-container matColumnDef="population">
            <th mat-header-cell *matHeaderCellDef> population </th>
            <td mat-cell *matCellDef="let location"> {{location.population }} </td>
        </ng-container>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef >  </th>
            <td mat-cell *matCellDef="let location"> 
            <a class="pointer" ng-show="hoverEdit"  (click)="editLocation(location)" style="color: #3ea4df;  cursor: pointer;" tooltip="{{'Edit' | translate}}">
                <mat-icon *ngIf="isAdmin" >edit</mat-icon>
            </a> 
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
        </table>
    
        <mat-paginator class="responsive-table" [pageSizeOptions]="[ 5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
    </div>
</div>