<h1 mat-dialog-title>Crear Proyecto</h1>
<div mat-dialog-content>
  <!-- <p>Aca iria algo </p>
   -->
</div>

<form [formGroup]="newProjectForm" novalidat>
  <div class="row">
    <mat-form-field>
      <mat-label>{{'Name' | translate}}</mat-label>
        <input matInput>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field appearance="fill">
      <mat-label>Location</mat-label>
      <mat-select [(ngModel)]="location" formControlName="locationControl" [formGroup]="newProjectForm">
        <mat-option *ngFor="let elem of locationList" [value]="elem.name">
          {{elem.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>
  <div class="row">
    <mat-form-field>
      <mat-label>{{'Factor' | translate}}</mat-label>
        <input matInput>
    </mat-form-field>
  </div>
</form>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <!-- <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button> -->
</div>
