<app-loading *ngIf="loading"></app-loading>
<div class="row">
  <div class="col-sm-1 col-xs-4">
    
  </div>
  <div class="col-sm-4 col-xs-12">
  <div class="row">
    <h1>{{'Profile'|translate}}</h1>
  </div>
  <div class="col-sm-10">
    <mat-card class="example-card"> 
      <mat-card-header>
        <div mat-card-avatar class="example-header-image">
          <img mat-card-avatar *ngIf="user.avatar" src="{{user.avatar}}">
        </div>
        <mat-card-title> {{user.name}} </mat-card-title>
        <mat-card-subtitle>{{user.nickName}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <ul class="list-group ">
          <li class="list-group-item ">{{'User'|translate}}: {{user.nickName}}</li>
          <li class="list-group-item">Email: {{user.mail}}</li>
          <li class="list-group-item">{{'Points'|translate}}: {{user.points}}</li>
        </ul>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="accent" (click)="editUserModal()">{{'EditData'|translate}}</button>
      </mat-card-actions> 
    </mat-card>
  </div>
  </div>
    
  <div class="col-sm-6 col-xs-12">
        <div class="col-sm-6 col-xs-6">
          <h1>{{'Donations'|translate}} </h1>
        </div>
      <table class="table table-bordered table-light">
        <thead class="thead-dark" >
          <tr>
            <th scope="col">{{'ProjectName'|translate}}</th>
            <th scope="col">{{'Location'|translate}}</th>
            <th scope="col">{{'Donation'|translate}}</th>
            <th scope="col">{{'Date'|translate}}</th>
            <th scope="col">{{'TotalCollection'|translate}}</th>
            <th scope="col">{{'Points'|translate}}</th>
            <th scope="col">{{'Open'|translate}}</th>
            <th scope= "col"></th>
          </tr>
        </thead>
        <tbody *ngFor="let donation of listDonations; let i = index">
          <tr>
            <td>{{donation.project.name}}</td>
            <td>{{donation.project.location.name}}</td>
            <td>{{donation.investment}}</td>
            <td>{{donation.date}}</td>
            <td>{{donation.project.amountCollected}}</td>
            <td>{{donation.project.closed}}</td>
          </tr>
          
        </tbody>
      </table>
      
  </div>
  
</div>
