<app-loading *ngIf="loading"></app-loading>
 
 <div class="container-fluid">
    <div class="card-columns " >
    
        
        <div class="card-body text-center" >
        <div class="card bg-primary">
            <h5 class="card-title" >x </h5>
              <ul class="list-group "  >
                <li class="list-group-item ">1</li>
                <li class="list-group-item">2</li>
                <li class="list-group-item">3</li>
            </ul>
            <button class="btn  btn-dark btn-xl" routerLink="/dashboard">
                Ver Proyectos
            </button>
            <br>
            <br>
            <button class="btn btn-dark  btn-xl" routerLink="/donation">
                Donar
            </button>
            <hr style="height:2px;border-width:0;color:rgb(170, 41, 41);background-color:rgb(131, 37, 37)">

            </div>
            
          </div>
          
          
    </div>
    

  </div> 
  <button class="btn btn-secondary btn-block btn-xl" routerLink="/dashboard">
    VOLVER
</button>
      