<app-loading *ngIf="loading"></app-loading>

  <h1>Bienvenido</h1>
  <div class="col">
  <div class="col-lg-6">
    
  <mat-card class="example-card"> 
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        
      </div>
      <mat-card-title>NOMBRE USUARIO </mat-card-title>
      <mat-card-subtitle>NickNAme</mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content *ngFor="let user of listUsers; let i = index">
      <ul class="list-group "  >
        <li class="list-group-item ">User: {{ user.name }}</li>
        <li class="list-group-item">Email: {{ user.mail }}</li>
        <li class="list-group-item">Points: {{ user.points }}</li>
    </ul>
    </mat-card-content>
     <mat-card-actions>
      <button mat-flat-button color="accent" routerLink="/donation">Donar </button>
      
      <button mat-flat-button color="accent" (click)="createProject()">Editar Mis datos</button>
    </mat-card-actions> 
  </mat-card>
</div>
  </div>
  <div class="col">
<div class="col-lg-6">
  <div class="row">
    <div class="col-sm-12 col-xs-12">
      
      <div class="row">
        <div class="col-sm-6 col-xs-6">
          <h2>Ranking Donations: </h2>
        </div>
        
      </div>
        
      <table class="table table-bordered table-light">
        <thead class="thead-dark" >
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Points</th>
            <th scope="col">Email</th>
            <th scope="col">Donation</th>
            <th scope= "col"></th>
          </tr>
        </thead>
        <tbody *ngFor="let user of listUsers; let i = index" >
          <tr>
            <td>{{user.name}} </td>
            <td>{{user.points}}</td>
            <td>{{user.mail}}</td>
            
            <td> 
             

          </tr>
          
        </tbody>
      </table>
      
      
    </div>
    
  </div>

</div>
  </div>
<button class="btn btn-secondary btn-block btn-xl" routerLink="/dashboard">
  VOLVER
</button>
